$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;


$white: #FFFFFF;
$black: #151515;
$grey: #444444;
$bronze: #D5966C;

$title-font: 'Big Shoulders', cursive;
$text-font: 'Outfit', sans-serif;
